.medshub-body {
  display: flex;
}

.medshub-body .about-medshub {
  background-color: white;
  color: black;
  width: 45vw;
  height: 100vh;
  margin-top: 5%;
  margin-left: 27%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.medshub-body .about-medshub-viz {
  background-color: white;
  color: black;
  width: 45vw;
  height: 100vh;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.medshub-body .about-medshub p {
  /* background-color: aqua; */
  text-align: justify;
  width: 30vw;
  height: 20vh;
  margin-bottom: 2%;
}

.medshub-body .about-medshub i {
  font-size: 50px;
}

.medshub-body .about-medshub-viz p {
  /* background-color: aqua; */
  text-align: justify;
  width: 30vw;
  height: 20vh;
  margin-bottom: 2%;
}

.medshub-body .about-medshub-viz i {
  font-size: 50px;
}

.profile-dev {
  display: flex;
  margin-top: -25px;
  justify-content: space-between;
}
.devloper {
  height: 22vh;
  width: 20vh;
  border: 4px solid black;
  background-color: white;
  margin-left: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
}
