/* about us part */
/* header */
.aboutus-part {
  min-height: 100vh;
  /* background-color: aqua; */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* container the image */
.aboutus-part .about-container .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 115%;
  width: 100%;
  background-image: url("../images/home-bg.jpg");
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.aboutus-part .about-container .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 8px grey;
  height: 40vh;
  width: 53vw;
  text-align: center;
  border-radius: 10px;
  font-family: "Ubuntu Condensed", sans-serif;
}

.aboutus-part .about-container .about label {
  font-size: 25px;
  color: black;
}

.aboutus-part .about-container .about .home-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 9vh;
  margin-top: 2%;
}

.aboutus-part .about-container .about .home-card .search-product,
.aboutus-part .about-container .about .home-card .card-prod,
.aboutus-part .about-container .about .home-card .card-med,
.aboutus-part .about-container .about .home-card .search-medicine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  color: rgb(56, 182, 255);
}

.aboutus-part .about-container .about .home-card .search-product i,
.aboutus-part .about-container .about .home-card .card-prod i,
.aboutus-part .about-container .about .home-card .card-med i,
.aboutus-part .about-container .about .home-card .search-medicine i {
  margin-left: 7%;
}

.aboutus-part .about-container .about .home-card .search-product p,
.aboutus-part .about-container .about .home-card .card-prod p,
.aboutus-part .about-container .about .home-card .card-med p,
.aboutus-part .about-container .about .home-card .search-medicine p {
  width: 9vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Ubuntu+Condensed&display=swap");
/* fontss */
/* for label */
.font1 {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 83px;
}
.font2 {
  font-family: "Rajdhani", sans-serif;
  color: initial;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;

  font-size: 113px;
}

.font3 {
  font-family: "Fjalla One", sans-serif;
  color: rgb(56, 182, 255);
  font-size: 83px;
}
.font4 {
  font-family: "Rajdhani", sans-serif;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(56, 182, 255);
  -webkit-text-stroke-width: 2px;

  font-size: 113px;
}

/* main styles - home*/
a {
  text-decoration: none;
}

/* home-top-brands */
.home-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home {
  width: 95vw;
  /* height: 78vh; */
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;

  /* scroll */
  /* overflow: hidden;
  overflow-y: scroll; */
}

.home .home-top-brands label {
  margin-left: 4.5%;
  font-size: 35px;
  margin-bottom: 1%;

  /* background-color: aliceblue; */
  width: 40vw;
  /* display: flex; */
}

.home .home-top-brands {
  /* margin-bottom: 3%; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* background-color: aqua; */
  height: 62vh;
  background-color: black;
  margin-bottom: 3%;
  border: 5px solid rgb(56, 182, 255);
  border-radius: 8px;
  margin-top: 2.5%;
}

.home .home-top-brands .slider {
  /* background-color: crimson; */
  height: 44vh;
  width: 94vw;
}

.home .home-top-brands .slider .BrainhubCarousel__arrows {
  background-color: rgb(56, 182, 255);

  margin-left: 1%;
  margin-right: 1%;
}

.home .home-top-brands .brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: white; */
  width: 16vw;
  height: 32vh;

  border-radius: 8px;
  margin: 2% 2% 2% 2%;

  /* box-shadow: 0px 0px 10px grey; */
}

.home .home-top-brands .brand img {
  height: 40vh;
  width: 50vw;
}

.home .home-top-brands .brand p {
  font-size: 25px;

  font-family: "Ubuntu Condensed", sans-serif;
  color: rgb(56, 182, 255);
}

/* categories */

.home .home-categories {
  background: white;
  height: 90vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
  margin-top: 2%;
}

.home .home-categories .categories1 {
  background-color: black;
  width: 20vw;
  height: 65vh;
  border-bottom-left-radius: 300px;
  /* box-shadow: 0px 0px 10px grey; */
}

.home .home-categories .categories1 .category p {
  font-size: 35px;
  position: relative;
  bottom: 450px;
  text-transform: capitalize;
  font-weight: bold;

  font-family: "Fjalla One", sans-serif;
  color: rgb(56, 182, 255);
}

.home .home-categories .categories1 img {
  height: 65vh;
  width: 40vw;
  /* background-color: aqua; */
}

.home .home-categories .categories2 {
  background-color: black;
  width: 55vw;
  height: 70vh;
  text-align: center;

  border-radius: 10px;
  /* box-shadow: 0px 0px 10px grey; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.home .home-categories .categories2 .categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home .home-categories .categories2 .categories .category {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 15vw;
  height: 37vh;

  border-radius: 8px;
  margin: 1%;

  /* box-shadow: 0px 0px 10px grey; */
  font-family: "Ubuntu Condensed", sans-serif;
  color: black;
}

.home .home-categories .categories2 .categories .category img {
  height: 19vh;
  width: 12vw;
}

/* beauty - products */
.home-beauty {
  /* min-height: 80vh; */
  /* background-color: aqua; */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-beauty .home-beauty-container {
}

/* parallel image */
.home-beauty .home-beauty-container .beauty-bg {
  background: url("../images/beauty-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  width: 80vw;
}

.home-beauty .home-beauty-container .beauty-prod {
  background-color: rgba(255, 255, 255, 0.5);
}

.home-beauty .home-beauty-container .home-beauty-title {
  display: flex;
  justify-content: space-around;
}

.home-beauty .home-beauty-container .home-beauty-body {
  /* background-color: rgba(255, 255, 255, 0.5); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 55vh;
  border-radius: 8px;
}

.home-beauty .home-beauty-container .home-beauty-body .beauty-product {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: black;
  height: 35vh;
  width: 18vw;
  border-radius: 8px;
  box-shadow: 0px 0px 8px gray;
  font-family: "Ubuntu Condensed", sans-serif;
}
.home-beauty .home-beauty-container .home-beauty-body .beauty-product img {
  height: 20vh;
  width: 12vw;
}

/* mens-grooming */
.home .home-men {
  margin-top: 2%;
  /* background: linear-gradient(
    to right bottom,
    rgba(56, 182, 255, 0.7),
    rgba(56, 182, 255, 0.3)
  ); */
  background-color: black;
  /* margin-bottom: 3%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  height: 78vh;
  border: 5px solid rgb(56, 182, 255);
  border-radius: 10px;
}

.home .home-men .slider {
  /* background-color: crimson; */
  height: 50vh;
  width: 58vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
}

.home .home-men .men-card {
  display: flex;
  align-items: center;

  justify-content: space-around;
  background-color: white;
  color: black;
  width: 20vw;
  height: 20vh;

  box-shadow: 0px 0px 10px white;

  border-radius: 8px;

  margin: 2% 2% 2% 2%;

  /* box-shadow: 0px 0px 10px grey; */
}

.home .home-men .men-card img {
  height: 12vh;
  width: 9vw;
}

.home .home-men .men-card p {
  font-family: "Ubuntu Condensed", sans-serif;
  color: black;
}

/* button color */
.nurse {
  float: right;
  position: fixed;
  bottom: 10vh;
  right: 12vh;

  background-color: black;
  border: 2px solid rgb(56, 182, 255);
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
  font-size: 35px;
  color: white;

  z-index: 2;
}
/* chat-bot-ui */
.bot-body {
  width: 69vw;
  height: 83vh;
  display: flex;
}

.bot-body .bot-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.bot-body .bot-container .bot-close {
  /* background-color: red; */
  width: 66vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
}

.bot-body .bot-container .bot-close .cancel {
  border: none;
  outline: none;
  width: 2.5vw;
  height: 4vh;
  background-color: white;
  color: white;
  border: 2px solid white;
  background-color: rgb(56, 182, 255);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-body .bot-container .bot-body {
  overflow: scroll;
}

.bot-body .bot-container .bot-body .chat {
  background-color: black;
  width: 69vw;
}

.bot-body .bot-container .bot-body .chat .sender {
  width: 33vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.bot-body .bot-container .bot-body .chat .sender p {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
  text-align: justify;
}

.bot-body .bot-container .bot-body .chat .receiver {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* margin-right: 1%; */
  /* background-color: blue; */

  width: 33vw;
  margin-left: 51%;
}

.bot-body .bot-container .bot-body .chat .receiver p {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
  text-align: justify;
}

.bot-body .bot-container .bot-button form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: blueviolet; */
  width: 65vw;
  height: 9vh;
}

.bot-body .bot-container .bot-button .textbox {
  outline: none;
  border: 3px solid white;
  background-color: rgb(56, 182, 255);
  color: white;
  font-size: 20px;
  height: 5vh;
  width: 55vw;
  border-radius: 2px;
}

.bot-body .bot-container .bot-button .send {
  width: 6vw;
  height: 6vh;
  font-size: 20px;

  outline: none;
  border: 2px solid white;
  background-color: rgb(56, 182, 255);
  color: white;
}
