.mycart {
  width: 100%;
  /* height: 40vw; */
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.mycart-prods {
  /* background-color: blueviolet; */

  width: 70vw;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mycart-prods .item {
  width: 80vw;
  height: 10vw;
  display: flex;
  /* margin-top: 1%; */
  margin-bottom: 1%;
}

.item img {
  height: 17vh;
  width: 11vw;
}

.item .item-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(56, 182, 255);
  width: 80vw;
  font-size: 25px;
}

.item .item-detail .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: antiquewhite; */
  width: 24vw;
}

.cart-btn {
  border: none;
  outline: none;
  width: 7vw;
  height: 6vh;
  font-weight: bold;
  color: rgb(56, 182, 255);
  cursor: pointer;
}


.mycart-prods {
  /* background-color: blueviolet; */

  width: 70vw;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mycart-prods .item {
  width: 80vw;
  height: 10vw;
  display: flex;
  /* margin-top: 1%; */
  margin-bottom: 1%;
}

.item img {
  height: 17vh;
  width: 11vw;
}

.item .item-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(56, 182, 255);
  width: 80vw;
  font-size: 25px;
}

.item .item-detail .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: antiquewhite; */
  width: 24vw;
}

.cart-btn {
  border: none;
  outline: none;
  width: 7vw;
  height: 6vh;
  font-weight: bold;
  color: rgb(56, 182, 255);
  cursor: pointer;
}

.buynow {
  background-color: black;
  color: white;
  height: 4vh;
  width: 7vw;
  border-radius: 5px;
}

/* buy-modal */

.buy-modal-conatiner {
  height: 22vh;
  color: black;
  width: 15vw;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.buy-modal-cancel {
  display: flex;
  justify-content: flex-end;
}

.buy-modal-cancel button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
}

.buy-modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: aqua; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.buy-modal-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buy-modal-btn .no {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  height: 4vh;
  width: 4.5vw;
}

.buy-modal-btn .yes {
  border: none;
  outline: none;
  background-color: green;
  color: white;
  height: 4vh;
  width: 4.5vw;
}