.background{
    background-color: #f5f5f0;
    height: 150%;
    width:95%;
    font-size:32px;
    font-family:"Glacial Indifference";
}
.upload{
    background-color:#e7e2e5;
    width: 45%;
    height:75%;
    margin:55px;
    border-radius:12px;
    text-align:center;
    font-size: 21px;
    margin: bottom 52px;
    border-style: solid;

}
.file{
    background-color:#afafb1;
    text-align:center;
    height:55%;
    margin:40px;
    border-style:dashed;
    border-color:#f1f1f2;
}