.signup-title {
  text-align: center;
  color: rgb(56, 182, 255);
  font-family: "Trirong", serif;
  font-size: 30px;
}
.input-signup {
  height: 30px;
  width: 250px;
  border-radius: 7px;
}
.button-signup {
  width: 150px;
  height: 35px;
  border-radius: 7px;
  background-color: rgb(56, 182, 255);
  color: white;
  border: none;
}
.p-signup {
  color: rgb(56, 182, 255);
}
.hr-signup {
  border: black solid 1px;
}
a {
  color: white;
  text-decoration: none;
}
