.box-admin{
    padding: 10px;
    height: 130px;
    width: 170px;
    border: 2px solid rgb(56, 182, 255);
    text-align: center;    
    font-size: 35px;
}
.main-admin{
    font-family: "Trirong", serif;
}
.admin-flex{
    display: flex;
    justify-content: space-around;
}
.link-admin{
    color:rgb(56, 182, 255);
}
.box-admin:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.9) ;
        color: white;
        background-color: rgb(56, 182, 255);
}