.table-order{
    text-align: center ;
    padding: 10px;
   margin-left: auto;
   margin-right: auto ;
   font-size: 20px;

}
.h2-order-admin{
    font-family: "Trirong", serif;
    font-size: 30px;
    margin-left: 205px;
}