.main-admin-product{
    margin-top: 35px;
    font-family: "Trirong", serif;
    font-size: 20px;
}
.input-product-admin{
    width: 240px;
    height: 30px;
    margin-left: 10px;
    background-color: black;
    color: white;
  
}
.p-product-admin{
    font-family: "Trirong", serif;
    font-size: 30px;
    text-align: center;
    
}
.button-admin-product{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.table-product{
    text-align: center ;
    padding: 10px;
   margin-left: auto;
   margin-right: auto ;
   font-size: 20px;
   border: 1px solid #ddd;
   margin-top: 25px;   
   border-collapse: collapse;
}
.border-tr{
    border-bottom: 1px solid #ddd;
    background-color: white;
    border: 3px solid rgb(56,182,255);
    color:black
}
.table-title{
    background-color: rgb(56,182,255);
}
.form-main{
    height: 680px;
    width: 650px;
    background-color: rgb(56,182,255);
    margin-top: 25px;
    margin-left: 405px;
    padding: 15px;
    border-radius: 15px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: black;
    text-align: center;
    margin-top: 35px;
  }
  .btn-admin-product{
    border:none;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 50px;
    font-weight: bold;
  
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  .form-flex-admin{
      display: flex;
      justify-content: space-around;
  }
.upload-image-button{
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 45px;
    width: 250px;
    background-color: black;
    text-align: center;
   
}

  .btn2-admin-product{
      background-color: black;
      border: none;
      color: white;
      padding: 10px;
      font-size: 16px;
      margin-top: 5px;
  }
  .p-admin-product{
    color: white;
  }
  .largeCheckbov-product-admin{
      height: 17px;
      width: 17px;
      margin-top: 5px;
  }

  .btn-updateDelte-product{
      background-color: white;
      color: black;
      border: none;
      padding: 10px;
      font-size: 20px;
  }